{% extends 'base.html.twig' %}

{% block title %}Hello TableauController!{% endblock %}

{% block body %}
    {% for ligne in tab %}
        <p>{{ligne}}</p>
    {% endfor %}
    {% for row in user %}
    <p>{{row.prenom}} {{row.nom}}</p>
    {% endfor %}
{% endblock %}
