{% extends 'base.html.twig' %}

{% block title %}Exercice!{% endblock %}

{% block body %}
    {# {{name_var}} #}
    <p>Exercice 5 :</p>
    <p>Nombre 1 est {{nbr1}}</p>
    <p>Nombre 2 est {{nbr2}}</p>
    {{result}}
{% endblock %}
