<html lang="en">
<head>
    <meta charset="UTF-8">

    <title></title>
    <style>
        *{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1rem;
        }
        textarea{
            font-size: 1.1rem;
        }
        h1{
            font-size: 1.2rem;
            color : purple;
        }
    </style>
</head>
<body>
    <h1>{{subject}}</h1>
    <textarea cols="30" rows="10" fixed>
        {{body}}
    </textarea>
</body>
</html>
